<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
	<listeners>
		<listener class-name="Apitesting.sampleproject.TestListener" />
	</listeners>
	<test name="Demo Api Tests">
		<classes>
			<class name="Apitesting.sampleproject.TestCases" />
		</classes>
	</test>
</suite>